.wrapper {
    display: flex;
    width: 100%;
    height: 100dvh;

    /*  */
    background-image: url(../../assets/imgs/numbat_wallpaper_dark_3480x2160.jpg);
    background-color: var(--bs-lblack);
    background-repeat: no-repeat;
    background-position: 0;
    background-size: cover;
    /*  */
}